:root {
--color00: #020007;
--color01: #020007;
--color02: #020007;
--color03: #ccffee;
--color04: #ffffdd;
--color05: #ffffdd;
--color06: #ffffdd;
--color07: #ffffdd;
--color08: #cccc66;
--color09: #dddd88;
--color0A: #ffffdd;
--color0B: #00ff99;
--color0C: #00ffcc;
--color0D: #00cc77;
--color0E: #66ff66;
--color0F: #eeeeaa;
}
